<div id="<%= dom_id movimento %>">
  <p>
    <strong>Entrada:</strong>
    <%= @movimento.entrada %>
  </p>

  <p>
    <strong>Saida:</strong>
    <%= movimento.saida %>
  </p>

  <p>
    <strong>Veiculo:</strong>
    <%= movimento.veiculo_id %>
  </p>

  <p>
    <strong>Vaga:</strong>
    <%= movimento.vaga_id %>
  </p>

</div>
